---
import { LOCALE } from "@config";
import { FaNewspaper, FaCode } from "react-icons/fa6";
import IconShell from "../components/IconShell.astro"

export interface Props {
  datetime: string | Date;
  postTitle: string | undefined;
  type: string;
  size?: "sm" | "lg";
  className?: string;
}

const { datetime, postTitle, size = "sm", className, type } = Astro.props;

const myDatetime = new Date(datetime);

const date = myDatetime.toLocaleDateString(LOCALE, {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const icon = type === "project" ? FaCode : FaNewspaper;
---

<div
  class={`flex items-center space-x-2 opacity-80 ${className}`}
  transition:name={`date-${postTitle}`}
>
  <IconShell icon={icon} size={size} />
  <span class="sr-only">Posted on:</span>
  <span class={`italic ${size === "sm" ? "text-sm" : "text-base"}`}>
    {date}
  </span>
</div>
