---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import { SITE } from '@config';
import Header from '@components/Header.astro';
import Main from './Main.astro';
import Card from '@components/Card.astro';
import { slugifyProject } from '@utils/slugify';
import LinkButton from '@components/LinkButton.astro';

export interface Props {
  pageNumber: number;
  totalPages: number;
  projects: CollectionEntry<"portfolio">[];
}

const { pageNumber, totalPages, projects } = Astro.props;

const prev = pageNumber > 1 ? "" : "disabled";
const next = pageNumber < totalPages ? "" : "disabled";
---

<Layout title={`Portfolio | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle='Projects' pageDesc='Featured projects.'>
    
    <ul>
      {
        projects.map(({ data }) => (
          <Card href={`/projects/${slugifyProject(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  
  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === "disabled"}
          href={`/posts${pageNumber - 1 !== 1 ? "/" + (pageNumber - 1) : ""}`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${prev}-svg`}>
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
          Prev
        </LinkButton>
        <LinkButton
          disabled={next === "disabled"}
          href={`/posts/${pageNumber + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          Next
          <svg xmlns="http://www.w3.org/2000/svg" class={`${next}-svg`}>
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </LinkButton>
      </nav>
    )
  }
</Layout>